# Root
.claude/

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python / Backend
backend/venv/
backend/.env
backend/.idea/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.log

# Docker
.dockerignore

# OS specific
.DS_Store
Thumbs.db